*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}

.login-container{
  height: 100vh;
  display: flex;
  background-color: #F2F2F2;
  justify-content: center;
  
}

.login-item {
  width: 80%;
  height: 575px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  
}

.login-left{
  width: 60%;
  text-align: center;
  line-height: 575px;
  
}

.image3{
  vertical-align: middle;
  max-width: 100%;
  margin: 50px;
  height: auto;
}

.login-right{
  width: 40%; 
  margin:  auto 0;
}

#fname{
  width: 100% !important;
  margin-left: 30px;
  margin-right: 5px;
}

#lname{
  width: 100% !important;
  margin-left: 5px;
  margin-right: 30px;
}

.login-form h1{
  text-align: center;
  color:  #3BD98A;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 50px;
}

.login-name{
  display: flex;
  width: 100%;
}



.login-name-left, .login-name-right{
  margin: 10px;
}


#taena{
  margin: 10px 30px;
}

#taena h6{
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #36CA9A;
}

.login-right button{
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
  border: none;
}

.login-right .login-btn{
  background-color: #3BD98A;
}

.login-right .reg-btn{
  background-color:#FFA1AC;
}

#outlined-basic {
  
}