* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  background-color: #f2f2f2;
  justify-content: center;
}

.login-item {
  width: 80%;
  height: 575px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}

.login-left {
  width: 60%;
  text-align: center;
  line-height: 575px;
}
.image3-container{
  padding-left: 30px;
  padding-right: 20px;
}
.image3 {
  vertical-align: middle;
  max-width: 100%;
  
  height: auto;
}

.login-right {
  width: 40%;
  margin: auto 0;
}

#fname {
  width: 100% !important;
  margin-left: 30px;
  margin-right: 5px;
}

#lname {
  width: 100% !important;
  margin-left: 5px;
  margin-right: 30px;
}

.login-form h1 {
  text-align: center;
  color: #3bd98a;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 50px;
}

.login-name {
  display: flex;
  width: 100%;
}

.login-name-left,
.login-name-right {
  margin: 10px;
}

#taena {
  margin: 10px 30px;
}

#radio-container{
  display: flex;
  justify-content: space-around;
}

.login-p{
  color: #c4c4c4;
}

#taena-alr{
  margin: 10px 30px;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.btn btn-primary{
  text-decoration: none;
  color: #3bd98a;
}

#taena-alr div{
  display: flex;
  
}

#taena h6 {
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #36ca9a;
}

.login-right button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 17px;
  color: #fff;
  border: none;
}

.login-right button:hover, #taena1:hover{
  opacity: 0.6;
  transition: 0.3s;
}

.login-right .login-btn {
  background-color: #3bd98a;
 
}

.login-right .reg-btn {
  background-color: #FFA1AC;
 
}

#outlined-basic {
}

@media only screen and (max-width: 600px) {
  .login-left {
    display: none;
  }

  .login-right {
    width: 100%;
  }

  .hatdog{
    display: flex;
    flex-direction: column;
  }
}
