.nav-container{
    width: 150px;
    background-color: #3BD98A;
    border-radius: 20px;
    border:none;
}

nav ul{
    border: 1px solid #3BD98A;
    border-radius: 20px;
}

nav ul li{
    
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.aaa {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 80px;
    text-decoration: none;
    color: #fff;
}

#logout{
    height: 80px;
    color: #fff;
    text-decoration: none;
    line-height: 80px;
    
}

.nav-icon{
    width: 100%;
}

nav ul li:hover, nav ul li:hover  .nav-icon{
    background-color: #fff;
    border-radius: 20px;
    color: #3BD98A;
}