.profile-container{
    width: 950px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

#cursor{
    cursor: pointer;
}

.nav-container1{
    margin: auto 50px;
    position: fixed;
}

.profile-container1{
    background-color: #F6F6F6;
    display: flex;
    height: 100vh;
}
.profile-top{
    display: flex;
    margin: 0 57px;
    padding-top: 76px;
    border-radius: 20px;
}


.profile-top1{
    display: flex;
    flex-direction: column;
    
}

.profile-top2{
    display: flex;
    flex-direction: row;

}

.profile-top2 h1 {
    margin: 0 15px;
     
}

.profile-top3{
    display: flex;
    text-align: left;
    margin: 36px 15px;

    
}

.profile-top3 h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}

.profile-top2 a{
    margin-left: 70px;
}


.profile-top2 h1 p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 43px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.profile-edit{
    color: #fff;
    background: #36CA9A;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    height: 42px;
    line-height: 42px;
}

.recent{
    margin-top: 96px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
}